mixin Card(type, params)
    if(type === 'categories')
        a(href="courses_list.html").card.card--categories
            .circle
                i.fal(class="fa-"+params.icon)

            .wrapper
                p.title #{params.title}
                p.nums=params.nums + " " + plural(params.nums, ["курс", "курса", "курсов"])
    if(type === 'categories-max')
        a(href="courses_list.html").card.card--categories
            .card__head
                .card__cover
                    img(src="img/"+params.img+".jpg")
                .card__info
                    span.card__info-title=params.title
                    span.description=params.nums + " " + plural(params.nums, ["курс", "курса", "курсов"])
            .card__content
                p=params.description

    if(type === 'promo')
        a(href="course.html").card.card--promo
            .card__content
                .card__content-top
                    p.nums=params.nums + " " + plural(params.nums, ["занятие", "занятия", "занятий"])
                    .rating
                        span=params.rating
                        i.fa.fa-star

                p.title #{params.title}
            .card__cover
                .card__cover-mask
                img(src=params.img)

    if(type === 'course')
        .card.card--course(class=params.admin?"card--course__admin card__admin":null)
            a(href="course.html").card__cover
                .card__cover--elements
                    if params.doc
                        .card__cover--document
                            i.fa.fa-award
                            span Документ
                    if params.status
                        .card__cover--status=params.status
                img(src="img/"+params.img)

            .card__content
                .card__parameters.only-col
                    if(params.category)
                        .card__category=params.category
                    else
                        .card__category Веб дизайн
                    .card__rating
                        span=7.9
                        i.fa.fa-star
                if params.title
                    a(href="courses_list.html").card__title=params.title
                else
                    a(href="course.html").card__title Идеальный Landing Page

                if params.admin
                    .pos-r

                        .card__dots.js-toggler(data-target=".card__dropdown").js-toggler-parent
                            i.far.fa-ellipsis-v

                        .card__dropdown.dropdown.js-toggler-target
                            a(href="cabinet_teach_addcourse.html")
                                span Редактировать
                                .icon
                                    i.fal.fa-pen
                            a(href="#")
                                span Скрыть
                                .icon
                                    i.fal.fa-times
                            a(href="#delete", rel="modal:open").dropdown__delete
                                span Удалить
                                .icon
                                    i.fal.fa-trash

                if params.admin
                    .card__stats.only-col
                        a(href="#").item
                            span.item__num=params.reviews.toString().replace(/(\d)(?=(\d{3})+(\D|$))/g, '$1 ')
                            span.item__title=plural(params.reviews, ["отзыв", "отзыва", "отзывов"])
                        a(href="#").item
                            span.item__num=params.views.toString().replace(/(\d)(?=(\d{3})+(\D|$))/g, '$1 ')
                            span.item__title=plural(params.views, ["просмотр", "просмотра", "просмотров"])
                        a(href="#").item
                            span.item__num=params.buy.toString().replace(/(\d)(?=(\d{3})+(\D|$))/g, '$1 ')
                            span.item__title=plural(params.buy, ["покупка", "покупки", "покупок"])

                else

                    ul.card__features.only-row
                        li Веб-дизайн
                        li Skillbox
                        li 12 занятий
                    if !params.short
                        .card__description Авторы - профессионалы своего дела - в деталях рассказывают об интернет-маркетинге.
                    .card__etc.only-col
                        if params.status !== "Пройден"
                            .card__price
                                span.pre-price от
                                span.price 196 489
                                span.ruble ₽

                            if params.action
                                a(href="#").card__action=params.action
                                    include ../../../img/chevron_right_16px.svg
                            else
                                a(href="course.html").card__action Подробнее
                                    include ../../../img/chevron_right_16px.svg

                        else
                            a(href="#read-review" rel="modal:open").btn.btn--xs Оценить курс

            .card__content--for-row.only-row
                .card__price
                    span.pre-price от
                    span.price 196 489
                    span.ruble ₽
                .card__rating
                    span=7.9
                    i.fa.fa-star
                a(href="#").more-reviews 165 отзывов






    if(type === 'speaker')
        .card.card--speaker(class=params.add?"card--add":null, class=params.admin?"card__admin":null)

            if params.admin
                .pos-r

                    .card__dots.js-toggler(data-target=".card__dropdown").js-toggler-parent
                        i.far.fa-ellipsis-v

                    .card__dropdown.dropdown.js-toggler-target
                        a(href="cabinet_teach_addspeaker.html")
                            span Редактировать
                            .icon
                                i.fal.fa-pen
                        a(href="#")
                            span Отправить приглашение
                            .icon
                                i.fal.fa-envelope
                        a(href="#delete", rel="modal:open").dropdown__delete
                            span Удалить
                            .icon
                                i.fal.fa-trash


            if !params.add
                a(href="speaker.html").card__avatar
                    img(src=params.img)


                .card__content
                    a(href="speaker.html").card__title=params.title
                    a(href="speaker.html").card__descriptor=params.descriptor
                    if !params.short
                        .card__tags.tags
                            each tag in params.tags
                                a(href="#")=tag
                        .card__stats.only-col
                            a(href="#").item
                                span.item__num=params.reviews
                                span.item__title=plural(params.reviews, ["отзыв", "отзыва", "отзывов"])
                            a(href="#").item
                                span.item__num=params.courses
                                span.item__title=plural(params.courses, ["курс", "курса", "курсов"])
                            a(href="#").item
                                span.item__num=params.rating
                                span.item__title рейтинг
                .card__content--for-row.only-row
                    a(href="speaker.html").item
                        span.item__num=params.courses
                        span.item__title=plural(params.courses, ["курс", "курса", "курсов"])
                    .card__rating
                        span=7.9
                        i.fa.fa-star
                    a(href="#").more-reviews 165 отзывов

            else
                a(href="#").card__avatar
                    img(src="img/speaker-add.svg")

                .card__content
                    a(href="speaker.html").card__title Добавить спикера
                    a(href="speaker.html").card__descriptor
                    if !params.short
                        .card__stats.only-col
                            a(href="#").item
                                span.item__num
                                    i.far.fa-infinity
                                span.item__title отзывов
                            a(href="#").item
                                span.item__num
                                    i.far.fa-infinity
                                span.item__title курсов
                            a(href="#").item
                                span.item__num
                                    i.far.fa-infinity
                                span.item__title рейтинг

    if(type === 'speaker-min')
        a.card.card--speaker(href="speaker.html", class=params.add?"card--add":null, class=params.admin?"card__admin":null)
                .card__avatar
                    img(src=params.img)


                .card__content
                    .card__title=params.title
                    .card__descriptor=params.descriptor


    if(type === 'school')
        .card.card--speaker.card--school
            a(href="school.html").card__avatar
                .card__img
                    img(src=params.img?params.img:"img/p1.png")

            .card__content
                a(href="school.html").card__title=params.title?params.title:"Skillbox"
                a(href="school.html").card__descriptor Онлайн-университет современных digital-профессий
                if !params.short
                    .card__tags.tags
                        each tag in params.tags
                            a(href="#")=tag
                    .card__peoples.only-col
                        a(href="#").item
                            img(src="img/u1.jpg")
                        a(href="#").item
                            img(src="img/u2.jpg")
                        a(href="#").item
                            img(src="img/u3.jpg")
                        a(href="#").item
                            img(src="img/u1.jpg")
                        a(href="#").item.more
                            span +2
                            img(src="img/u2.jpg")
            .card__content--for-row.only-row
                a(href="school.html").item
                    span.item__num=params.courses?params.courses:21
                    span.item__title=plural(params.courses?params.courses:21, ["курс", "курса", "курсов"])
                .card__rating
                    span=7.9
                    i.fa.fa-star
                a(href="#").more-reviews 165 отзывов



    if(type === 'student')
            .card.card--speaker.card--student
                .card__avatar
                    img(src=params.img)

                .card__content
                    .card__title=params.title
                    .card__descriptor=params.descriptor
